/* ----------- Navigation ----------- */
.nav-icon {
  height: 50px;
  margin: 15px;
}
.nav-border {
  border-bottom: 2px solid #a88383;
}
a {
  color: #343434;
  font-family: Lato;
}
a:hover {
  color: #a88383;
  text-decoration: none;
}
/* ----------- Hero ----------- */
#hero {
  background-color: #f5dfdf;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
