/* ----------- Navigation ----------- */
.nav-icon {
  height: 50px;
  margin: 15px;
}
.nav-border {
  border-bottom: 2px solid #a88383;
}
a {
  color: #343434;
  font-family: lato, sans-serif;
}
a:hover {
  color: #a88383;
  text-decoration: none;
}
/* ----------- Hero ----------- */
#hero {
  background-color: #f5dfdf;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
h1 {
  font-family: Martel, sans;
}
h4 {
  font-family: lato, sans-serif;
}
/* ----------- Portfolio ----------- */
p.header {
  font-family: lato, sans-serif;
}
#portfolio {
  max-height: 245px;
  padding: 50px;
}
.portfolio-img {
  max-height: 245px;
  max-width: 350px;
  display: inline-flex;
}
